

{% for cart_produit in cart_produits %}
<tr>
  <td class="col-sm-8 col-md-6"><div class="media">
      <div class="media-body">
        <h4 class="media-heading"><a href="#">{{ cart_produit.produit.nom }}</a></h4>
        <span>Status: </span><span class="text-success">In Stock</span> </div>
    </div></td>
  <td class="col-sm-1 col-md-1" style="text-align: center"><input class="form-control" value="{{ cart_produit.quantity }}" type="email">
  </td>
  <td class="col-sm-1 col-md-1 text-center"><p class="price_table">{{ cart_produit.produit.prix }}</p></td>
  <td class="col-sm-1 col-md-1 text-center"><p class="price_table">{{ cart_produit.produit.prix }}</p></td>
  <td class="col-sm-1 col-md-1">
    <a href="{% url 'remove_from_cart' cart_produit.produit.id %}" class="bt_main">
      <i class="fa fa-trash"></i> Remove
    </a>
  </td>
</tr>
{% endfor %}